Source: sprycloud-client
Section: contrib/devel
Priority: optional
Maintainer: István Váradi <ivaradi@varadiistvan.hu>
Build-Depends: cmake,
               debhelper,
               cdbs,
               dh-python,
               extra-cmake-modules (>= 5.16),
               kdelibs5-dev,
               kio-dev,
               libcmocka-dev,
               libhttp-dav-perl,
               libinotify-dev [kfreebsd-any],
               libqt5webkit5-dev,
               libsqlite3-dev,
               libssl-dev (>> 1.0.0),
               zlib1g-dev,
               optipng,
               pkg-kde-tools,
               python-sphinx | python3-sphinx,
               python3-all,
               qt5keychain-dev,
               qtdeclarative5-dev,
               qttools5-dev,
               qttools5-dev-tools,
               xvfb
Standards-Version: 3.9.8
Homepage: https://github.com/SpryServers/sprycloud-client-next
#Vcs-Git: git://github.com/SpryServers/sprycloud-client-next.git
#Vcs-Browser: https://github.com/SpryServers/sprycloud-client-next.git

Package: sprycloud-client
Architecture: any
Depends: libsprycloudsync0 (=${binary:Version}), ${shlibs:Depends}, ${misc:Depends}, sprycloud-client-l10n
Recommends: libgnome-keyring0
Description: Nextcloud desktop sync client
 Use the desktop client to keep your files synchronized
 between your Nextcloud server and your desktop. Select
 one or more directories on your local machine and always
 have access to your latest files wherever you are.

Package: libsprycloudsync0
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Nextcloud sync library
 Used by the Nextcloud desktop client as the synchronization engine.

Package: libsprycloudsync-dev
Architecture: any
Section: contrib/libdevel
Depends: libsprycloudsync0 (=${binary:Version}), ${misc:Depends}
Description: Nextcloud sync library development files
 The headers and development library for the Nextcloud sync library.

Package: sprycloud-client-l10n
Architecture: all
Depends: ${misc:Depends}
Description: Nextcloud client internatialization files
 The translation files.

Package: sprycloud-client-nautilus
Architecture: all
Depends: sprycloud-client (>=${binary:Version}), libsprycloudsync0, python-nautilus, nautilus, ${misc:Depends}
Description: Nautilus plugin for Nextcloud
 This package contains a Nautilus plugin to display
 synchronization status icons for Nextcloud files.

Package: sprycloud-client-nemo
Architecture: all
Depends: sprycloud-client (>=${binary:Version}), libsprycloudsync0, python-nemo | nemo-python, nemo, ${misc:Depends}
Description: Nemo plugin for Nextcloud
 This package contains a Nemo plugin to display
 synchronization status icons for Nextcloud files.

Package: sprycloud-client-caja
Architecture: all
Depends: sprycloud-client (>=${binary:Version}), libsprycloudsync0, python-caja, caja, ${misc:Depends}
Description: Caja plugin for Nextcloud
 This package contains a Caja plugin to display
 synchronization status icons for Nextcloud files.

Package: sprycloud-client-dolphin
Architecture: any
Depends: dolphin (>= 4:15.12.1), libsprycloudsync0 (= ${binary:Version}), sprycloud-client, ${misc:Depends}, ${shlibs:Depends}
Description: Dolphin plugin for Nextcloud
 This package contains a Dolphin plugin to display
 synchronization status icons for Nextcloud files.
